run = "cargo run"
hidden = ["target"]
modules = ["rust-stable"]

[packager]
language = "rust"

[packager.features]
packageSearch = true

[languages.rust]
pattern = "**/*.rs"

[languages.rust.languageServer]
start = "rust-analyzer"

[nix]
channel = "stable-22_05"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Library Tests & Examples"

[[workflows.workflow]]
name = "Library Tests & Examples"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cargo test --lib --examples"

[workflows.workflow.metadata]
outputType = "console"

[deployment]
deploymentTarget = "cloudrun"
